
@import url('https://fonts.cdnfonts.com/css/bubbleboddy');

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family:  sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height to 100% of viewport height */
  margin: 0;
}

main {
  flex: 1; /* Allow the main content to grow and fill remaining space */
}

/* Header styling */
header {
background-color: rgb(245, 91, 18);
color: #fff;
padding: 20px 0;
}

.header-content {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 2000px;
margin: 0 auto;
padding: 0 20px;
padding-top: 20px;
padding-bottom: 20px;
}

.logo h1 {
font-family:omnes-pro;
font-size: 50px;
color: rgb(240, 41, 41);
}


nav ul {
list-style: none;
text-align: right;
}

nav ul li {
display: inline;
margin-right: 20px;
}

nav ul li a {
text-decoration: none;
color: #000000;
font-size: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}

#home {
  position: relative;
  height: 400px; /* Set the height as needed */
  border-radius: 30px; /* Adjust border radius as needed */
  margin-bottom: 322px;
}



.backgroud-image {
  position: absolute;
  top: 8%;
  left: 13%;
  width: 73%;
  height: 128%;
  background-image: url('Flamethunmbnail.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  border-radius: inherit; /* Inherit border radius from the parent */
  z-index: -1; /* Push the image behind the content */
}

#home::before {
  width: 100%;
  height: 100vh;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(245, 91, 18);
  z-index: -2; /* Push the image behind the content */

}

.content {
  position: absolute;
  top: 63%;
  left: 25%;
  z-index: 1; /* Ensure content appears above the image */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px; /* Adjust padding as needed */
  padding-right: 100px;
  box-sizing: border-box;
  color: rgb(240, 41, 41);
  font-family:omnes-pro;
  font-size: 60px;



}



#test {
  width: 100%;
  height: 100vh;
  background-color: rgb(240, 41, 41); /* Red background color */
  font-family:omnes-pro;
  color: black;

}



/* Other sections' styles go here */

